@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    background: #d7d7d7;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

input:focus {
  border-color: rgb(101, 101, 101);
}

table,
th,
td {
    border: 1px solid rgb(53, 53, 53);
    border-collapse: collapse;
    text-align: center;
    padding: 10px 5px 10px 5px;
}

button {
    background: #d7d7d7;
    border: 2px rgb(101, 101, 101) solid;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}