@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.html {
    @apply h-dvh overflow-hidden;
}


/* Custom styles for table components */
.table-container {
    @apply bg-blue-50 rounded-lg;
}

.table-header {
    @apply bg-blue text-white shadow-sm shadow-blue-950/50  ;
}

.table-header-cell {
    @apply py-3 px-5 transition-colors duration-200 ease-in-out;
}

.table-row-cell {
    @apply py-3 px-5  text-gray-700 border-b border-gray-200 ;
}

/*forms*/

.dropdown {
    @apply bg-azure/90 shadow-lg rounded-md h-fit w-52  z-[100] text-blue-950 items-center flex flex-col shadow-blue-950/50 border
}

.button {
    @apply bg-blue-600 text-white font-medium rounded-lg px-4 py-2 drop-shadow-md;
}

.button:hover {
    @apply bg-blue-300 text-white shadow-lg transition-all duration-200 ease-in-out;
}

.button:disabled {
    @apply bg-blue-100 text-gray-400 cursor-not-allowed;
}

.input {
    @apply bg-blue-50/50 border border-blue-800/50 px-3 py-2 rounded-md focus:ring-1 focus:ring-blue-900 outline-none;
}

.input-error {
    @apply bg-blue-50/50 border border-red-500/50 px-3 py-2 rounded-md focus:ring-1 focus:ring-blue-900 outline-none;
}


.input:disabled {
    @apply bg-blue-300;
}

.select {
    @apply bg-blue-50 border border-blue-800/50 px-3 py-2 rounded-md focus:ring-1 focus:ring-blue-900 outline-none;
}

.label {
    @apply block text-sm font-medium text-gray-900;
}

/* Flexbox utilities */
.y {
    @apply flex flex-col ;
}

.md\:y {
    @apply flex md:flex-col;
}

.x {
    @apply flex flex-row;
}

.md\:x {
    @apply flex md:flex-row;
}

.flex-center {
    @apply flex items-center justify-center;
}

/* Sidebar link styles */

.sidebar {
    @apply bg-blue-100 shadow-md shadow-blue-950/50 h-screen flex-none z-50;
}

.sidebar-links {
    @apply cursor-pointer py-1 w-full text-center  mt-2 rounded-md hover:bg-yellow/30 hover:text-blue-2 flex items-center px-2  gap-2;
}

.sidebar-active {
    @apply  cursor-pointer py-1 w-full text-center border border-yellow bg-yellow mt-2 rounded-md text-blue-2 flex items-center  gap-2 px-2;
}

.mini-sidebar {
    @apply bg-blue-200/90 absolute h-fit text-blue-500 y left-0 top-11 w-48 md:left-48 md:top-0 md:w-52 z-50 shadow-md;
}

.mini-sidebar-label {
    @apply text-center h-[40px]  bg-blue-700 flex-center text-blue-50;
}

.mini-sidebar-items {
    @apply hover:bg-blue-600/90 p-2 h-12 w-full hover:text-blue-50 border-b-2 border-blue-600/20;
}

/*profile*/
.container-style {
    @apply h-[85%] w-[90vw] flex flex-col md:flex-row gap-2;
}

.card-style {
    @apply rounded-md bg-blue-400 shadow-lg shadow-blue-950/50;
}

.profile-image-style {
    @apply rounded-full ml-8 mt-0 md:ml-0 md:size-36 md:mt-8 flex-none;
}

.tab-style {
    @apply p-2 cursor-pointer rounded-t-lg;
}

.tab-active-style {
    @apply bg-blue-900/50 text-white;
}

.content-style {
    @apply bg-blue-900/50 shadow-md shadow-blue-950/50 text-white basis-full relative;
}


/*header Bar*/

.header {
    @apply bg-blue h-full flex px-2 md:px-8 items-center justify-between;
}

.header-container-logo {
    @apply text-white  items-center gap-1 cursor-pointer flex;
}

.header-container-profile {
    @apply border flex h-[50px] px-4 gap-5 items-center text-white rounded-md hover:bg-blue-500/50;
}


.dropdown-open-items {
    @apply w-full hover:bg-blue hover:text-white flex-center p-2 cursor-pointer;
}



.input-field {
    @apply w-52 rounded-md border border-gray-200 px-3 py-2 focus:ring-2 focus:ring-blue-400 outline-none transition duration-200;
}

.container-header {
    @apply px-4 py-4 w-full bg-blue-500 flex items-center justify-between flex-wrap flex-none;
}

.search-dropdown {
    @apply absolute bg-white flex flex-col w-52 shadow-lg rounded-md mt-2;
}

.modal-trigger-button {
    @apply z-50 border-[3px]  p-1  border-blue-600 rounded-full fixed text-blue-600 bottom-2 right-2 md:bottom-10 md:right-10 bg-blue-100 shadow-md shadow-blue-900/40;
}

.request-containder {
    @apply y gap-2  bg-white p-3 rounded-md text-blue-900 shadow-lg shadow-blue-950/20 min-w-[300px];
}

.request-parent {
    @apply w-full px-[10%] ;

}


#nprogress .bar {
    background:  #FFCC00 !important; 
    height: 8px;
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}
